*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
   
}
html{
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu-header{
    display: flex;
    justify-content:space-between;
    width: 500px;
    list-style: none;
    padding: 15px;
}
.btn{
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #0061ff;
    padding: 0 17px;
   
}
.jumbotron{
    height: 550px;
    background-color: rgb(185, 207, 229);
}
.titolo{
    margin: 10px;
    padding-top: 100px;
    font-size: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.card .icon{
font-size: 64px;
}

.paragraph{
    margin: 10px;
    padding: 10px;
}
img{
max-width: 100%;
}

.box{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box-business{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.collumn{
    border: 2px solid grey;
    width:calc((100% - 40px) / 3);
    height: 750px; 
}
.m20{
    margin: 0 20px;
}

.typeplan{
    border: 2px solid grey;
}
.nameplan{
    padding: 10px;
    margin: 10px;
}
.greytext{
    color: grey;
}
#colorcheck{
    color: #0061ff;
}
.plansection{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.secondtitle{
    display: inline-block;
}
.container{
    max-width: 1000px;
    margin: 100px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container-lg{
    max-width: 1200px;
    margin:0 auto;
}
.collumn-bottom{
    border: 2px solid grey;
    width:100%;
    margin-top: 10px;
    height: 200px;
}
.divforflex{
    display: flex;
    justify-content: space-between;
}
.spacebottom{
    margin-bottom: 40px;
}
.rowforflex{
    display: flex;
    margin-top: 150px;
}

.col-40{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.spacetop{
    margin-top: 20px;
}
.white-btn{
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color:black;
    background-color: white;
    padding: 0 17px;
 }
 .col-16{
    width: calc((100% - 60px) / 3);
 }
 .collumnflex{
    gap: 30px;
 }
 .spacing{
    margin: 20px;
 }
 .container-tr{
    width: 600px;
    margin-left: 325px;
 }
 .container-xl{
    padding: 100px 0;
 }
 .row-brand{
    width: 33%;
    display: flex;
    flex-direction: column;
 }
 .box-brand{
    display: flex;
    flex-direction: column;
 }
.green{
    background-color: #a2d39b; 
}
.darkred{
    background-color: #61072B
}
.azzblue{
    background-color: #0061ff;
}
.red{
    background-color: red;
}
.col-50{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.row-xl{
    display: flex;
}
.lightblue{
background-color:#B5D0E7 ;
}

.blue{
    background-color: #0D2481;
}

.yellow{
    background-color:#FFD831 ;
}
.container-sm{
    background-color: #B5D0E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
.thirdtitle{
    width: 270px;
    color: #61072B;
}







