*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.menu-header{
    display: flex;
    justify-content:space-between;
    width: 500px;
    list-style: none;
}
.btn{
    color: white;
    background-color: #0061ff;
    padding: 12px;
   
}
.jumbotron{
    height: 400px;
    background-color: rgb(185, 207, 229);
}
.titolo{
    margin: 10px;
    padding: 20px;
    font-size: 40px;
}
.paragraph{
    margin: 10px;
    padding: 10px;
}
#card-image{
  width: 900px;
  position: absolute;
  top: 20%;
  left: 60%;
}
.box{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.collum{
    border: 2px solid grey;
    width: 200px;
    height: 700px;
}
.typeplan{
    border: 2px solid grey;
}
.nameplan{
    padding: 10px;
    margin: 10px;
}
.greytext{
    color: grey;
}
#colorcheck{
    color: #0061ff;
}